body {
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerMain {
  color: white;
  font-size: 50px;
  font-weight: normal;
}

.headerSecond {
  color: white;
  font-size: 42px;
  font-weight: 300;
}

.sub {
  color: grey;
  font-size: 21px;
  font-weight: lighter;
}

.link {
  color: aquamarine;
  font-size: 16px;
}

footer {
  text-align: right;
}
