/* style for the body of the webpage */
body {
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* style for the main heading h1 of the webpage */
.headerMain {
  color: white;
  font-size: 50px;
  font-weight: normal;
}
/* style for the h2 of the webpage */
.headerSecond {
  color: white;
  font-size: 42px;
  font-weight: 300;
}
/* style for the h4 of the webpage */
.sub {
  color: grey;
  font-size: 21px;
  font-weight: lighter;
}
/* style for all links of the webpage */
.link {
  color: aquamarine;
  font-size: 16px;
}
/* style for the footer of the webpage */
.footer {
  text-align: right;
  color: grey;
  font-size: 21px;
}
