html {
  font-size: 22px;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: black;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

h2 {
}

h4 {
}

h5 {
}

p {
}

.header {
  border-bottom: 1px seashell solid;
  position: fixed;
  height: 69px;
  top: 0;
  width: 100%;
}

.logo {
  height: 50px;
  float: left;
  padding-left: 10px;
  margin: 9px auto;
}

.nav {
  text-align: right;
  margin: 0 auto;
  padding-right: 10px;
}

.nav a {
  text-decoration: underline;
}

.nav li {
  display: inline-block;
  padding-left: 20px;
}
